* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: radial-gradient(
    closest-side,
    white,
    rgb(87, 195, 207),
    rgb(0, 0, 0)
  );
}

#disclaimer {
  padding-top: 10px;
  font-style: italic;
}

h2,
h3 {
  font-style: italic;
  padding-left: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: italic;
  font-weight: bold;
  margin: 0px;
}

#root {
  width: 1000px;
  height: 100svh;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: clip;
  align-items: center;
}
#root2 {
  width: 1000px;
  height: 100svh;
  margin: 0px auto;
}
p {
  width: 900px !important;
  padding-left: 50px;
  margin-top: 0px;
}

.head {
  padding: 0px;
  margin: auto;
  z-index: 999;
  background-color: rgb(130, 228, 218);
  text-align: center;
  width: 1000px;
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-bottom: 10px !important;
  margin-top: 0px !important;
}

#intro {
  background-color: rgb(130, 228, 218);
  font-family: "Lucida Sans";
  width: 1000px;
  padding-bottom: 10px;
  padding-top: 10px;
}

#description {
  background-color: rgb(130, 228, 218);
}

#control-box {
  height: 100px;
  background-color: rgb(130, 228, 218);
  background-color: transparent;
  z-index: 998;
  text-align: center;
}

label {
  font-size: 85%;
  color: white;
  font-family: Georgia, "Times New Roman", Times, serif;
}
button {
  height: 30px;
  border-radius: 10px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

button:hover {
  background-color: rgb(78, 223, 223);
  transform: scale(1.1);
}

button:active {
  background-color: rgb(31, 193, 193);
  transform: scale(0.99);
}

#cluster {
  background-color: rgb(255, 255, 255);
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 1000px;
  height: 400px;
}

.clustered {
  transition: 0.5s ease;
}

.fall {
  transition: 0.2s ease;
}

.counter {
  overflow: visible;
  filter: blur(0.2px);
  font-size: 200%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 0.7;
  fill: black;
}

.counter1 {
  overflow: visible;
  filter: blur(0.2px);
  font-size: 200%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  opacity: 1;
  animation: my-animation 2s 1;
}

@keyframes my-animation {
  0% {
    font-size: 200%;
  }

  50% {
    font-size: 400%;
    transform: rotate(-10deg);
    opacity: 0.7;
  }

  100% {
    font-size: 200%;
  }
}

#gif {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#brk {
  height: 3px;
}
